@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .animation {
        display: none;
    }
}

html{
	background: url("images/bg.jpg") no-repeat center center fixed;
	-webkits-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	padding:none;
	overflow-y: hidden;
}

body{
	position: relative;
}

h1{
	font-family: 'Raleway';
	font-weight: 200;
	font-size: 2em;
	color:#555555;
	margin: 0 0 .5em 0;
	line-height: .9;
}

.center {
	height: 32em;
	max-width: 80%;
  max-height: 60%;
  margin: 0 auto;
  padding:1em 2em 1em 2em;
  text-align: center;
  line-height: 100%;
	overflow: hidden;
	background: rgba(255, 255, 255, .65);
	border-radius: 3px;
}

#headshot{
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 9em;
	height: 9em;

}

#description{
	text-align: center;
	margin: 2em 0;
	color: #555555;
	font-family: 'Raleway';
}

#links{
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
	margin: 0;
  
}
#about #top{
  width:100%;
  height:5%;
}
#about #bottom{
  width:100%;
  height:10%;
  margin-top: .4em;
}

#about #contentHolder{
  height: 100%;
  overflow: scroll;
}

#links li{
	float: left;
	margin: 0 .25em;


}




#abouttext{
  width:60%;
  display:block;
  margin: auto;
  text-align: center;
  font-family: 'Raleway';
	font-weight: 200;
	font-size: 1.1em;
  line-height: 1.1em;
  margin-top: .4em;
}

a i{
	color:#555555;
	font-size: em;
	opacity: .5;
	transition: .3s ease;
	-webkit-transition: .3s ease;
}
a i:hover{
	opacity: 1;
}

#emailForm input{
	width:100%;
	border:none;
	margin-bottom: 15px;
	color: #555555;
	border-bottom: 1px solid #555555;
}

#emailForm input:focus{
	outline:none;
	outline-bottom-color:#555555;
}

#emailForm textarea{
	display: block;
	width:100%;
	resize:none;
	height:100px;
	margin-bottom: 15px;
}

#emailForm textarea:focus{
	outline-color: #555555
}

#emailForm button{
	padding:7px 15px;
	border: 2px solid #555555;
	border-radius: 4px;
	background: none;
}

#emailForm p{
  text-align: left;
  padding: 7px;
  font-family: Arial;
}

#nav{
	float: bottom;
	padding: 1em;	
}

#nav span{
	font-family: 'Raleway';
	font-weight: 200;
	font-size: 1.5em;
	color:#424242;
	line-height: .9;
  cursor: pointer; cursor: hand;
}

#left{
	float:left;
}
#right{
	float:right;
}

.contentHolder, .cardHolder{
	background: rgba(85,85,85, .1);
	border-radius: .5em;
	height: 77%;
	width: 100%;
}

.cardHolder {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
	padding:3em;
}

.cardHolder .card {
		opacity: 1;
    display: inline-block;
		height: 100%;
		width:30em;
		margin-right: 5em;
		background: rgba(255, 255, 255, 1);
		border-radius: .25em;

		/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
 }


/* On mouse-over, add a deeper shadow */
.cardHolder .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*peer card*/
.peerCard {
    opacity: 1;
    display: inline-block;
		height: 100%;
		width:20em;
		margin-right: 5em;
		background: rgba(255, 255, 255, 1);
		border-radius: .25em;
		text-align: left;

		/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  
    width: 700px;
    caret-color: rgba(0, 0, 0, 0.44);
    border: 0px none rgba(0, 0, 0, 0.44);
    font: normal normal normal normal 12px / 16.8px medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(0, 0, 0, 0.44) none 0px;
   
}/*#DIV_1*/

.peerCard a {
    color: rgba(0, 0, 0, 0.44);
		display: inline-block;
    height: 100%;
		width:100%;
    overflow-wrap: break-word;
    text-decoration: none solid rgba(0, 0, 0, 0.44);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    vertical-align: middle;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    column-rule-color: rgba(0, 0, 0, 0.44);
    perspective-origin: 270px 80.1px;
    transform-origin: 270px 80.1px;
    caret-color: rgba(0, 0, 0, 0.44);
    background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0.44);
    font: normal normal normal normal 12px / 16.8px medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(0, 0, 0, 0.44) none 0px;
}/*#A_2*/

.peerCard strong {
    color: rgba(0, 0, 0, 0.9);
    display: block;
    overflow-wrap: break-word;
    text-decoration: none solid rgba(0, 0, 0, 0.9);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0.9);
    perspective-origin: 250px 10.4px;
    transform-origin: 250px 10.4px;
    caret-color: rgba(0, 0, 0, 0.9);
    border: 0px none rgba(0, 0, 0, 0.9);
		margin-top: .1;
    font: normal normal normal normal 2.5em  medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(0, 0, 0, 0.9) none 0px;
}/*#STRONG_3*/


.peerCard p {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal normal normal 1.3em  medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
    overflow-wrap: normal;
    margin-top:-1em;
}/*#EM_5*/


.peerCard #descWrapper{
	padding-left: .5em;
  padding-right: .7em;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width:76%;
}
.peerCard #imgWrapper{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width:24%; 
}

#imgWrapper img{
  max-width: 100%;
  max-height:100%;
  float:right;
}

#abouttext a{
  color: inherit;
  line-height: 2em;
}

#contact #contentHolder{
  padding-top: 3em
}

#chart{
    position: absolute;
    left:50%;
    top:-30%;
    z-index: -1;
}

#chart svg{
  position: relative;
  left:-50%;
}

.main{
  padding-top:10%;
  overflow: hidden;  
}
body{
  overflow: hidden;
}